/*

  Header
  +

*/

.header{
  display: block;
  padding: 150px 30px 0;
  width: 420px;
  max-width: 100%;

  h1{
    margin: 0 0 30px;
  }
}

.site-header{
    background: $dark-gray;
    border-bottom-color: $magenta;
}


//branding
.site-branding .site-title a{
    font-weight: $light-weight;
}

 .site-branding h1 a, .site-title a{
    color: $white; 
    
}

.site-branding .site-description{
    color: $magenta;
}
