/*

  Main
  +

*/

body{
    font-family: $proxima-nova
}

::selection {
  background-color: $magenta;
  color: $white;
}

.main{
  padding: 0 30px;
}

.main-success{
  color: white;
}

sup, sub{
  color: $white;
}

h1, h2, h3, h4, h5, h6, .wc-block-grid__product-title{
    color: $light-gray;
}

h1{
     @include fontSize(32px);
     text-transform: $text-upper;
}

button, input[type="button"], input[type="reset"], input[type="submit"], .button, .widget a.button{
    @include main-gradient($soft-red, $medium-red, $magenta);
    color: $white;
    @include border-radius(3px);
}

button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, .button:hover, .widget a.button:hover{
    color: $white;
    text-decoration: underline 1px $white;
    background:$magenta;
    @include transition(background-color .30s ease-in-out);
}

//Blockquote
.wp-block-quote, .entry-content blockquote{
  border-left: none;
  padding: 1.5em 1.0em 0.1em !important;
  margin: 2em 0 !important;
}

blockquote{
  @include main-gradient($soft-red, $medium-red, $magenta);
  background: $magenta;
  color: $white;

}

//File input
input[type=file]{
  padding: 1em;
}

//Fieldset
fieldset button, fieldset input[type=button], fieldset input[type=reset], fieldset input[type=submit], fieldset input[type=file],fieldset .button{
  background: $medium-black;
  border: 1px solid $medium-black;
  margin-top: .5em;
}