/*

  Main
  +

*/

.main{
  padding: 0 30px;
}

.main-success{
  color: white;
}


h1, h2, h3, h4, h5, h6, .wc-block-grid__product-title{
    color: $light-gray;
}

button, input[type="button"], input[type="reset"], input[type="submit"], .button, .widget a.button{
    @include main-gradient($soft-red, $medium-red, $magenta);
    color: $white;
}

button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, .button:hover, .widget a.button:hover{
    background: $soft-red;
    opacity: .5;
}