/*

  Navigation
  +

*/



.main-navigation ul li a{
    color: $medium-gray;
    @include fontSize(13px);
    font-weight: $semibold-weight;
    text-transform: $text-upper;
    @include transition(color .15s ease-in-out);
}

.main-navigation ul li a:hover, .main-navigation ul li:hover > a, .site-title a:hover, .site-header ul.menu li.current-menu-item > a{
    color: $white;
}