/*

  Navigation
  +

*/


.main-navigation ul li a{
    color: $medium-gray;
    @include fontSize(13px);
    font-weight: $semibold-weight;
    text-transform: $text-upper;
    @include transition(color .15s ease-in-out);
}

a:focus, button:focus, .button.alt:focus, input:focus, textarea:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus{
    outline: none;
}
.main-navigation ul li a:hover, .main-navigation ul li:hover > a, .site-title a:hover, .site-header ul.menu li.current-menu-item > a{
    color: $white;
}

.main-navigation ul.menu ul.sub-menu, .main-navigation ul.nav-menu ul.children{
    background: $darker-gray;
    color: $medium-gray;
}

.main-navigation ul.menu ul a:hover, .main-navigation ul.menu ul li:hover > a, .main-navigation ul.menu ul li.focus, .main-navigation ul.nav-menu ul a:hover, .main-navigation ul.nav-menu ul li:hover > a, .main-navigation ul.nav-menu ul li.focus{
    background: none;
}

.main-navigation ul.menu ul li.focus{
    
}

//Main Navigation Button - for mobile & tablets
.secondary-navigation ul ul, .main-navigation ul.menu > li.menu-item-has-children::after, .secondary-navigation ul.menu ul, .storefront-handheld-footer-bar, .storefront-handheld-footer-bar ul li > a, .storefront-handheld-footer-bar ul li.search .site-search, button.menu-toggle, button.menu-toggle:hover{
    background: $magenta;
    border-color: $magenta;
    color: $white;

}

button.menu-toggle::after, button.menu-toggle::before, button.menu-toggle span::before{
    background-color: $white;
}

.main-navigation ul li a, .site-title a, ul.menu li a, .site-branding h1 a, .site-footer .storefront-handheld-footer-bar a:not(.button), button.menu-toggle, button.menu-toggle:hover, .handheld-navigation .dropdown-toggle{
    color: $white;
}