/*

  WooCommerce
  +

*/
//General WooCommerce styles
.added_to_cart,.storefront-sticky-add-to-cart__content-button{
  @include border-radius(3px);
  background: $darker-gray;
  border:1px solid $medium-gray;
}

input[type="text"], input[type="number"], input[type="email"], input[type="tel"], input[type="url"], input[type="password"], input[type="search"], textarea, .input-text{
    background: $darker-gray;
    border: 1px solid $darker-gray;
    color: $medium-gray;
    }

input[type="text"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, textarea:focus, .input-text:focus{
    background: $light-gray;
    border: 1px solid $darker-gray;
    color: $medium-gray;
}

//WooCommerce Breadcrumbs
.woocommerce-breadcrumb a:first-of-type::before{
    color: $white;
}

.woocommerce-breadcrumb a{
    text-decoration-color: $magenta;
}

//WooCommerce Notificaitons
.woocommerce-info, .woocommerce-noreviews, p.no-comments{
    background-color: transparent;
    border: 1px solid $magenta;
}

.woocommerce-noreviews,#payment .payment_methods > li .payment_box, #payment .place-order{
    background-color: transparent !important;
}

.woocommerce-message, .woocommerce-info, .woocommerce-error, .woocommerce-noreviews, p.no-comments{
    background:$light-gray;
    color: $medium-black;
}

.woocommerce-message .button, .woocommerce-info .button, .woocommerce-error .button, .woocommerce-noreviews .button, p.no-comments .button{
    color: $medium-black;
}
.woocommerce-message .button, .woocommerce-info .button, .woocommerce-error .button, .woocommerce-noreviews .button, p.no-comments .button{
    border-left-color: $medium-black;
}
.woocommerce-info:hover, .woocommerce-noreviews:hover, p.no-comments:hover{
    color: $magenta;
}
//WooCommerce product
.product_title{
    text-decoration: 4px underline $magenta;
}


//WooCommerce Buttons
.woocommerce-form-login__submit{
    margin-top:10px;
}

.woocommerce-button:hover{
    background-color:$magenta;
    @include transition(background-color .5s ease-in);
}

//WooCommerce tabs
.woocommerce-tabs ul.tabs li.active a, ul.products li.product .price, .onsale, .wc-block-grid__product-onsale, .widget_search form::before, .widget_product_search form::before{
}

.woocommerce-tabs ul.tabs li a{
    border-top: 1px solid $magenta;
}

//WooCommerce Review
.star-rating{
    color: $magenta;
}
.comment-form-rating{
    padding-bottom: .2rem;
}
//WooCommerce product pagination
.storefront-sticky-add-to-cart img{
    border:1px solid $medium-black;
    background: $medium-black;
}

.storefront-sticky-add-to-cart,
.storefront-product-pagination a[rel="prev"],
.storefront-product-pagination a[rel="next"]{
    background: $magenta;
    @include main-gradient($soft-red, $medium-red, $magenta);
    color: $white;
}

.pagination .page-numbers li .page-numbers.current, .woocommerce-pagination .page-numbers li .page-numbers.current{
    @include border-radius(50%);
    width: 30px;
    height: 30px;
    background: $magenta;
    color: $white;
    font-weight: $semibold-weight;
}

.pagination .page-numbers li a.page-numbers:hover, .woocommerce-pagination .page-numbers li a.page-numbers:hover{
    color: $magenta;
}

.woocommerce-pagination .page-numbers li .page-numbers.current:hover{
    background: $medium-black;
    border:1px solid $magenta;
}

//WooCommerce single product
.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger{
    background: $magenta;
    color: $white;
}

.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger:hover{
    background: $magenta;
    color: rgba(255,255,255,.8);
}

//WooCommerce cart 
.storefront-sticky-add-to-cart .woocommerce-Price-amount, .woocommerce-Price-amount, .site-header-cart .woocommerce-Price-amount, .site-header-cart .woocommerce-Price-currencySymbol,.site-header-cart .cart-contents .count{
    color: $white;
}

.price del{
    text-decoration: $magenta 1px underline;
    text-decoration-line: line-through;
    opacity: 0.6;
}
.wc-block-grid__product-onsale, .onsale{
    background: $magenta;
    color: $white;
    border-color: $magenta;
}

.woocommerce-pagination .page-numbers li .page-numbers:not(.current){
    color: $white;
    border:1px solid $medium-black;
}
.site-header-cart .cart-contents::after{
    color: $magenta;
}

.site-header-cart .widget_shopping_cart{
    background: $darker-gray;
    color: $medium-gray;
    border-top: 1px solid $magenta;
}

.storefront-handheld-footer-bar ul li.cart .count{
    border-color: $darker-gray;
}

//WooCommerce table
.shop_table a, .shop_table .amount{
    color: $dark-gray;
}
// table:not(.has-background) th{
//     background: $black;
//     color: $white;
// }

// table tr:nth-child(1),table.shop_table_responsive tr td {
//     background: $darker-gray;
// }

// table tr:nth-child(2) {
//     background: $dark-gray;
// }

.shop_table .actions{
    margin-top: 2%;
}
//WooCommerce product remove
a.remove::before{
    color: $soft-red;
}

//WooCommerce search
.site-search .widget_product_search form input[type="search"],form input[type="search"],form input[type="search"]:focus, .site-search .widget_product_search form input[type="text"]{
    background: $darker-gray;
    color: $white;
}
//WooCommerce selects
// .orderby{
//     display: block;
//     font-weight: $medium-weight;
//     color: $white;
//     line-height: 1.3;
//     width: 100%;
//     max-width: 100%; 
//     box-sizing: border-box;
//     margin: 0;
//     border: 1px solid $medium-black;
//     box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
//     border-radius: .5em;
//     -moz-appearance: none;
//     -webkit-appearance: none;
//     appearance: none;
//     background: $magenta;
// }
// .orderby::-ms-expand {
//     display: none;
// }
// .orderby:hover {
//     border-color: #888;
// }
// .orderby:focus {
//     border-color: #aaa;
//     color: #222; 
//     outline: none;
// }
// .orderby option {
//     font-weight: $normal-weight;
// }


//WooCommerce My Account
fieldset, fieldset legend{
    background: $magenta;
    color: $white;
}

//WooCommerce Store Demo Notification
.demo_store{
    background: $magenta;
}